/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}


.menu-icon,
.profile-icon {
  font-size: 18px;
  color: #333;
}

main {
  padding: 20px;
  text-align: center;
}

main h1 {
  font-size: 26px;
  color: #0a354d;
  margin-bottom: 20px;
  border-bottom: 2px solid #0a354d;
  display: inline-block;
  padding-bottom: 5px;
}

.consultas-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.consulta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 28px 15px;
  border-radius: 5px;
}

.consulta span {
  font-size: 18px;
  color: #333;
}