/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}


.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.app-header h1 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  color: #333;
}

.menu-icon,
.profile-icon {
  font-size: 18px;
  color: #333;
}

main {
  padding: 20px;
  text-align: center;
}

main h2 {
  font-size: 18px;
  color: #0a354d;
  margin-bottom: 20px;
  border-bottom: 2px solid #0a354d;
  display: inline-block;
  padding-bottom: 5px;
}

.notas-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nota {
  background-color: #f9f9f9;
  border: 1px solid #0a354d;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0a354d;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-button:hover {
  background-color: #086399;
}
