body{
  background-color: #003F5C;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Relewey*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@media screen {
  #img-icon {
    position: absolute;
    top: 15%;      
    left: 50%;     
    transform: translate(-50%, -50%);
    width: 150px;
  }

  .tx-1{
    font-size: 32px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    position: absolute;
    left: 31%; 
    top: 16%; 
  }

  .tx-2{
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    position: absolute;
    left: 41%; 
    top: 22.1%; 
  }

  .tx-3{
    font-size: 24px;
    color: white;
    font-weight: bold;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    color: #d3d3d3;
    text-align: center;
    position: relative; 
    top: 210px;         
  }


  .login-box {
    background-color: #fff;
    color: #003a53;
    padding: 20px 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    top: 30px;
}

.login-box label {
    font-size: 14px;
    color: #003a53;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
}


  footer p{
    text-align: center;
    position: relative; 
    top: 530px; 
    color: #d3d3d3;
  }
}