
body {
  background-color: #003F5C;
}

@media screen{
  .container {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
    color: #003F5C;
  }

  p {
    margin: 10px 0 20px;
    color: #4CAF50;
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  footer{
    text-align: center;
    position: relative; 
    top: 260px; 
    color: #d3d3d3;
  }

  .screen {
    display: none;
  }

  .screen.active {
    display: block;
  }
}